<div class="progress" *ngIf="onProgress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
    aria-valuemax="100" style="width: 100%">
  </div>
</div>
<div class="page-header">
  <h3 style="text-align: right">{{ title }}</h3>
</div>
<input type="button" value="Create New" class="btn btn-success" (click)="onCreate(template)">
<table class="table">
  <thead>
    <tr>
      <th>Category/Variant</th>
      <th>Initial</th>
      <th>Name/Description</th>
      <th>Price</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.variant.category.name }}<br>{{ product.variant.name }}</td>
      <td>{{ product.initial }}</td>
      <td>{{ product.name }}<br>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <input type="checkbox" name="active" class="form-check-input" [(ngModel)]="product.active" disabled="disabled">
      </td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-warning" title="Edit" (click)="onEdit(product._id, template)">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-danger" title="Delete" (click)="onDelete(product._id, template)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>