<div class="page-header">
  <h3>Login</h3>
</div>
<div class="form-horizontal" style="width: 500px">
  <div class="alert alert-danger" role="alert" *ngIf="errorNotification">{{ errorNotification }}</div>
  <div class="form-group">
    <label for="userName" class="control-label col-md-3">User Name</label>
    <div class="col-md-9">
      <input type="text" name="userName" class="form-control text-box single-line" [(ngModel)]="user.userName">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="control-label col-md-3">Password</label>
    <div class="col-md-9">
      <input type="password" name="password" class="form-control text-box single-line" [(ngModel)]="user.password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-8">
      <input type="button" value="Login" class="btn btn-success col-md-11" (click)="Login()">
    </div>
  </div>
</div>