<div class="container theme-showcase">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <img src="favicon.ico" alt="" class="logo">
        </a>
        <span class="navbar-brand">{{ title }}</span>
      </div>
      <div *ngIf="loggedIn">
        <ul class="nav navbar-nav">
          <li *ngFor="let route of routes">
            <a *ngIf="!route.children" [routerLink]="route.url">{{ route.linkName }}</a>
            <div *ngIf="route.children">
              <ul class="nav navbar-nav">
                <li class="dropdown" dropdown>
                  <a dropdownToggle role="button">
                    {{ route.linkName }}
                    <span class="caret"></span>
                  </a>
                  <ul *dropdownMenu class="dropdown-menu">
                    <li *ngFor="let child of route.children">
                      <a [routerLink]="child.url">{{ child.linkName }}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav pull-right">
        <li *ngIf="!loggedIn">
          <a routerLink="/login">Login</a>
        </li>
        <li class="dropdown" dropdown *ngIf="loggedIn">
          <!-- {1} -->
          <a dropdownToggle role="button">
            <!-- {2} -->
            Welcome, <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.userName }}
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu">
            <!-- {3} -->
            <li>
              <a (click)="logout()" role="button">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>